<nav>
  <ul>
    <li>
      <a routerLink="tasks">
        <i class="fa-solid fa-house fa-2x onHover"></i>
      </a>
    </li>
    <li>
      <a routerLink="completed-tasks">
        <i class="fa-solid fa-clipboard-check fa-2x onHover"></i>
      </a>
    </li>
    <li>
      <a (click)="addTask()">
        <i class="fa-solid fa-circle-plus fa-3x onHover"></i>
      </a>
    </li>
    <li>
      <a routerLink="chart-tasks">
        <i class="fa-solid fa-chart-pie fa-2x onHover"></i>
      </a>
    </li>
    <li>
      <a href="#">
        <i class="fa-solid fa-right-from-bracket fa-2x onHover"></i>
      </a>
    </li>
  </ul>
</nav>
